.header {
  background-color: var(--header-orange);
}

.title {
  display: flex;
}

.member {
  display: flex;
  align-items: end;
  justify-content: flex-end;
}

.link-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
  padding: 1rem;
}

.home-link-wrapper a,
.link-wrapper a {
  padding: 1rem;
  color: var(--black);
  text-decoration: none;
}

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 1rem;
}
.social-media > li {
  padding: 0rem 0.5rem;
  cursor: pointer;
}
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.contact > p {
  cursor: pointer;
  padding: 0.5rem;
}

.footer {
    background-color: var(--header-orange);
}