:root {
  --grey-white: rgb(240, 240, 240);
  --white-white: rgb(248, 244, 244);
  --black-black: rgb(25, 24, 24);
  --header-orange: rgb(231, 136, 63);
  --warm-yellow: rgb(231, 197, 63);
  --cream-orange: rgb(229, 200, 177);
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: var(--black-black);
}

main {
  /* display: flex; */
  /* flex-direction: column; */
  align-items: center;
  min-height: 100vh;
  justify-content: center;
  background-color: var(--grey-white);
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 80%;
  margin: auto;
}

/* .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  margin-right: auto;
  margin-left: auto;
} */

/* @media (min-width: 425px) {
  .container {
    max-width: 425px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}

@media (min-width: 1920px) {
  .container {
    max-width: 1920px;
  }
}

@media (min-width: 2560px) {
  .container {
    max-width: 2560px;
  }
} */
